<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bistu.ct.weather">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:name=".ui.UniteApp"
        android:allowBackup="true"
        android:icon="@mipmap/app"
        android:label="菜菜天气"
        android:roundIcon="@mipmap/app"
        android:supportsRtl="true"
        android:theme="@style/Theme.Weather"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".CityMangerPage.DeleteCityActivity" />
        <activity
            android:name=".CityMangerPage.CityManager" />
        <activity
            android:name=".CityMangerPage.SearchCityActivity" />
        <activity
            android:name=".ui.MoreActivity" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>